<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>TakeCare237</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div class="container">
  <h1>Innovative Projects Challenge</h1>
     <h3> Quels sont les paramètres que vous avez prélevé sur le patient ?</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="L-CORE-C" placeholder="Température interne du patient en C:" required="required" />
      <input type="text" name="L-SURF-C" placeholder="température de surface du patient en C" required="required" />
      <input type="text" name="L-O2-C" placeholder="saturation en oxygène en %" required="required" />
      <input type="text" name="L-BP-C" placeholder="Dernière mesure de la pression artérielle" required="required" />
      <input type="text" name="SURF-STBL-C" placeholder="Stabilité de la température de surface du patient" required="required" />
      <input type="text" name="CORE-STBL-C" placeholder="Stabilité de la température centrale du patient" required="required" />
      <input type="text" name="BP-STBL-C" placeholder="Stabilité de la pression artérielle du patient" required="required" />

      <button type="submit" class="btn">Décision finale</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}
</div>

</body>
</html>