<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>TakeCare237</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>

  <body>
    <!-- Basic nav menu which will remain fixed at the top -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <a class="navbar-brand" style="margin-left: 100px; margin-right: 700px;" href="{{url_for('home')}}">Hôpital Central De Yaoundé</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbarLg"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <div class="spacer"></div>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('suivi')}}">Suivi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('consultations')}}">Consultations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('contacts')}}">Contacts</a>
          </li>
        </ul>
      </div>
    </nav>


    <!-- Card List -->
    <div class="container">
      <div class="row">
        <div class="offset-md-2"></div>
        <div class="col-md-8">
          <div class="container mt-5">
            <div class="card">
              <h5 class="card-header text-center">
                Paramètres corporels du patient
              </h5>
              <div class="card-body">
                <form action="{{ url_for('predict')}}" method="post" role="form" data-toggle="validator">
                  <div class="form-group">
                    <label>Quelle est la température interne du patient ?</label><br>
                    <strong>high (> 37), mid (>= 36 and <= 37), low (< 36)</strong>
                    <input
                      name="L-CORE-C"
                      class="form-control"
                      data-error="Vous devez entrer la température interne"
                      placeholder="Température interne = ..."
                      type="text"
                      required
                    />
                    <!-- Error -->
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                    <label>Température de surface du patient en C</label><br>
                    <strong>(> 36.5), mid (>= 36.5 and <= 35), low (< 35)</strong>
                    <input
                      name="L-SURF-C"
                      class="form-control"
                      data-error="Vous devez entrer la température de surface."
                      placeholder="Température de surface = ..."
                      type="text"
                      required
                    />
                    <!-- Error -->
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                    <label>Saturation en oxygène en %</label><br>
                    <strong>excellent (>= 98), good (>= 90 and < 98), fair (>= 80 and < 90), poor (< 80)</strong>
                    <input
                      name="L-O2-C"
                      class="form-control"
                      data-error="Vous devez entrer la valeur de la saturation en oxygène"
                      placeholder="Saturation en oxygène = ...%"
                      type="text"
                      required
                    />
                    <!-- Error -->
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                    <label>Dernière mesure de la pression artérielle</label><br>
                    <strong>high (> 130/90), mid (<= 130/90 and >= 90/70), low (< 90/70)</strong>
                    <input
                      name="L-BP-C"
                      class="form-control"
                      data-error="Vous devez entrer la dernière mesure de la pression artérielle"
                      placeholder="Pression arterielle = ..."
                      type="text"
                      required
                    />
                    <!-- Error -->
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                    <label>Stabilité de la température de surface du patient</label>
                    <br>
                    <strong>stable, mod-stable, unstable</strong>
                    <input
                      name="SURF-STBL-C"
                      class="form-control"
                      data-error="Vous devez entrer la Stabilité de la température de surface"
                      placeholder="Stabilité température interne = ..."
                      type="text"
                      required
                    />
                    <!-- Error -->
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                    <label>Stabilité de la température centrale du patient</label><br>
                    <strong>stable, mod-stable, unstable</strong>
                    <input
                      name="CORE-STBL-C"
                      class="form-control"
                      data-error="Vous devez entrer la Stabilité de la température interne"
                      placeholder="Stabilité température interne = ..."
                      type="text"
                      required
                    />
                    <!-- Error -->
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-group">
                    <label>Stabilité de la pression artérielle du patient</label><br>
                    <strong>stable, mod-stable, unstable</strong>
                    <input
                      name="BP-STBL-C"
                      class="form-control"
                      data-error="Vous devez entrer la stabilité de la pression artérielle"
                      placeholder="Stabilité pression artérielle = ..."
                      type="text"
                      required
                    />
                    <!-- Error -->
                    <div class="help-block with-errors"></div>
                  </div>
  
                  <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                      Soumettre
                    </button>
                  </div>
                </form>
  
                <br />
                <br />
                <div>
                    <strong>{{ prediction_text }}</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <hr />
      <!-- Footer -->
      <footer>
        <p class="text-center">
          ©
          <script>
            document.write(new Date().getFullYear());
          </script>
          <a href="#">Innovative Projects Challenge</a>
        </p>
      </footer>
    </div>
    <!-- /. container -->

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
